.Button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: "Nanum Pen Script";
}

.Button_default {
  background-color: rgb(227, 243, 250);
  color: black;
}

.Button_positive {
  background-color:rgb(0, 72, 105);
  color: rgb(240, 237, 237);
}

.Button_negative {
  background-color: rgb(0, 72, 105);
  color: rgb(240, 237, 237);
}
