.Editor {
}

.Editor .editor_section {
  margin-bottom: 40px;
}

.Editor h4 {
  font-size: 22px;
  font-weight: bold;
}

.Editor input,
textarea {
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 244, 244);
  padding: 20px;
  font-size: 20px;
  font-family: "Nanum Pen Script";
}

.Editor input {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.Editor textarea {
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
  resize: vertical;
}

.Editor .bottom_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Editor .emotion_list_wrapper {
    display: flex;
    justify-content: space-around;
    gap: 2%;
}